---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

span.small-caps {
    font-variant-caps: small-caps;
  }

div.cvitem {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.0em;
    position: relative; 
    text-align: left;
}